@font-face {
    font-family: 'OCR A Std';
    src: url('OCRAStd.woff2') format('woff2'),
        url('OCRAStd.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

body {
  margin: 0;
  background-color: #622bfd;
  cursor: url('cursor-default.png'), default;
}

#content-wrapper {
  width: 100vw;
  height: 100vh;
  margin-top: -2.2vh;
}

@media only screen and (min-width: 480px) {
  #content-wrapper {
    margin-top: -6vh;
  }
}

#line {
  bottom: 32vh;
  height: 1px;
  width: 100vw;
  background-color: black;
}

section {
  width: 100%;
  font-size: 7.9vw;
  text-align: center;
  font-family: 'OCR A Std';
  white-space: nowrap;
  padding-bottom: 6.8vh;
  padding-top: 6.8vh;
}

section:first-child {
  padding-top: 0;
}

@media only screen and (min-width: 480px) {
  section {
    font-size: 4.2vw;
    margin-left: 30%;
    width: 70%;
    padding-bottom: 5.7vh;
    padding-top: 5.7vh;
  }
}

section a {
  font-family: 'Archivo Black', sans-serif;
  color: transparent;
  font-size: 10vw;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  cursor: url('cursor-hover.png'), pointer;
  -webkit-text-stroke: 1px black;
}

@media only screen and (min-width: 480px) {
  section  a {
    font-size: 6.2vw;
  }
}
